*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    position: relative;
    height: 95vh;
    width: 100%;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    right: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 12px 24px;
    background: rgba(211, 211, 211, 0.8);
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

nav ul li a:hover {
    background-color: #808080;
    color: #fff;
}

.hero-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid white;
    padding: 2rem; 
}

.hero-title {
    color: #fff;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000b3;
    text-align: center;
    margin-bottom: 1rem;
}

.hero-subtitle {
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000000b3;
    text-align: center;
}

main {
    max-width: 930px;
    margin: 0 auto;
    padding: 2rem 0px;
}

div.image-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.image-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

div.contact-section {
    color: #333;
    background-color: #d3d3d380;
    margin-top: 1rem;
    padding: 1rem;
}

fieldset {
    position: relative;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
}

legend {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    line-height: 2.7;
}

fieldset p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: #1e90ff;
    outline: 1px solid #1e90ff;
}

textarea {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

textarea:focus {
    border-color: #1e90ff;
    outline: 1px solid #1e90ff;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

button {
    background-color: #1e90ff;
    color: white;
    width: 100%;
    padding: 0.7rem 1.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0px;
}

button:hover {
    background-color: #808080;
}

 p.submit-message {
    position: absolute;
    display: none;
    color: #28a745;
    font-weight: bold;
    text-align: left;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

 .submit-message.show {
    display: block;
    opacity: 1;
  }

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f8f8f8;
    color: #666;
    font-size: 1rem;
    border-top: 1px solid #e7e7e7;
}

footer a {
    color: #1e90ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

    header {
        height: 70vh;
    }
    
}

@media (max-width: 480px) {

    header {
        height: 33.3vh;
    }

.hero-section {
        padding: 1rem;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-title {
        font-size: 1.7rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }

  main {
        padding: 2rem 0.5rem;
    }


    nav ul li a {
        padding: 10px 16px;
        font-size: 1rem;
    }
}